/* GENERAL STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Lato, sans-serif;  
}

ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;  
}

/* General button style */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  background-color: #007bff;
  transition: background-color .2s linear;
}

.btn:hover {
  background-color: #0b69d7;
  transition: background-color .2s linear;
}

/* HEADER */

.header {
  position: fixed;
  width: 100%;
  color: white; 
  font-size: 1.3rem;
  font-weight: 400;
  height: 55px;  
  background-color: #33393f;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: inherit;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header__nav-list {
  display: flex;
  font-size: 1rem;
}

.header__nav-item {
  margin-right: 20px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

/* HEADER CLONE to move all section down on header height*/
.header-clone {
  height: 55px;
  margin-bottom: 25px;
}

/* GREETING SECTION */

.greeting-section {
  margin-bottom: 25px;
  padding: 70px 35px 70px 35px;
  background-color: #e5e8eb;
  border-radius: 5px;  
}

.greeting-section__title {
  font-size: 4.5rem;
  font-weight: 100;
  color: #34383c;
  text-transform: capitalize;
}

.greeting-section__text {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 20px;
}

.gretting-section__btn {
  height: 50px;
  width: 155px;  
}

/* CARDS SECTION */

.cards {
  margin-bottom: 25px;
}

.cards__list {
  display: flex;
}

.cards__item {
  flex-basis: 25%;
  margin-right: 30px;
  border: 1px solid rgba(167, 167, 167, 0.247);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.cards__item:last-child {
  margin-right: 0;
}

.cards__item-header-photo {
  width: 100%;
  height: auto;
}

.cards__item-main {
  flex-grow: 1;
  padding: 15px;  
}

.cards__item-main-title {
  margin-bottom: 15px; 
  font-weight: 500;
  color: #1d1d1de1;
}

.cards__item-main-text {
  line-height: 1.5rem
}

.cards__item-footer {
  border-top: 1px solid rgba(167, 167, 167, 0.26);
  padding: 10px 0;
  background-color: #f6f6f6;
}

.cards__item-footer-btn {
  width: 130px;
  height: 40px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 1rem;
  text-transform: capitalize;
  
}

/* FOOTER */

footer {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #33393f;
}






